.status-bar {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    margin-bottom: 30px;
    opacity: 0.9;
  }
  
  .status-bar i {
    font-size: 14px;
  }
  
  .fa-search {
    margin-right: 5px;
  }
  
  .status__weather {
    display: flex;
    font-size: 16px;
    margin-top: 3px;
  }
  
  .status-bar .s-weather {
    margin-right: 15px;
  }